/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fdffb6;
  background: #355070;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 15px;
  margin: 10px;
  position: fixed;
  text-align: center;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

nav li{
    display: block;
    width: 120px;
    float: left;
    margin-left: 2px;
    color:#fdffb6;
}

.nav a {
  display: block;
  padding: 3px;
  text-decoration: none;
  background-color: #b56576;
  color: #fdffb6;
}

.name {
  display: block;
  margin-right: auto;
  color: #fdffb6;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: #fdffb6;
  background-color: #355070;
} 

header {
  text-align: center;
  background: url('images/DenverCODowntown.jpeg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 40px;
}

.tag {
  background-color:#b56576;
  color:#fdffb6;
}

header {
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #fdffb6;
  transition: all .9s;
}

header .profile-image:hover {
  transform: scale(1.2) rotate(15deg);
}

header .family_image {
  margin-top: 65px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #fdffb6
  transition: all .5s;
}

header .family_image:hover {
  transform: scale(1.5) rotate(10deg);
}

.family_member {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fdffb6;
  transition: all .5s;
}
.family_member:hover {
  transform: scale (1.5) rotate (10deg);
}

.polaroid {
  width: 25%;
  background-color:#6d597a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  padding: 0px 20px 20px 0px;
}

.container {
  text-align: center;
  padding: 10px 20px;
}

.tag {
  background-color: #e56b6f;
  color: #4d194d;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 

.location {
  background-color: #222;
  color: #fdffb6;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 600px;
  background: #6d597a;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card:hover {
  border-color: #ffcbf2;
}

ul.skills {
  display: inline-block;
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #8f2d56;
  color: #fdffb6;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #16697a;
}

 th {
  max-width: 100%;
  height: auto;
  text-align: left;
}

td {
  max-width: 100%;
  height: auto;
  text-align: left;
}

.column {
  margin: 10px 10px 10px 10px
}

.column {
  color: #fdffb6;
  background: #355070;
  text-align: left
}

footer {
  position: absolute;
  padding: 0;
  margin: 0;
  left:0;
  width: 150%;
  height: 100px;            /* Footer height */
  color: #fdffb6;
  text-align: center;
  background-color:#e56b6f;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url("images/twitter.svg");
}
a.linkedin {
  background-image: url("images/linkedin.svg");
}
a.github {
  background-image: url("images/github.svg");
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

